.App {
  text-align: center;
  background-color:#192b47;
}

.col {
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
  border: 1px solid #192b47;
  background-color: #3e66a5;
  color: white;
}

.container {
  height: '120px';
}

.canvas {
  width: 1000;
  height: 500;
}
